@import "tailwindcss";

:root {

  /* Colors */
  --purple-oxfam-50 : #F4F3FB;
  --purple-oxfam-100 : #E9ECF7;
  --purple-oxfam-200 : #DDD0E9;
  --purple-oxfam-300 : #CBB8D9;
  --purple-oxfam-400 : #8B72BE;
  --purple-oxfam-500 : #6B52A8;
  --purple-oxfam-600 : #513893;
  --purple-oxfam-700 : #472D8C;
  --purple-oxfam-800 : #3B1F7A;
  --purple-oxfam-900 : #2D1660;
  --purple-oxfam-950 : #1E0F3C;

  --green-oxfam-50 : #EEF7E5;
  --green-oxfam-100 : #DCF0CC;
  --green-oxfam-400 : #80BF56;
  --green-oxfam-500 : #61A534;
  --green-oxfam-600 : #4E8829;
  --green-oxfam-700 : #3D6B20;

  --orange-oxfam-50 : #FEF5E8;
  --orange-oxfam-100 : #FDECD5;
  --orange-oxfam-400 : #F09E45;
  --orange-oxfam-500 : #EA8215;
  --orange-oxfam-600 : #C96E0D;
  --orange-oxfam-700 : #B05C0A;

  --yelllow-oxfam-50 : #FEFCE8;
  --yellow-oxfam-100 : #FCF8CC;
  --yellow-oxfam-300 : #F7EC60;
  --yellow-oxfam-400 : #F2E100;
  --yellow-oxfam-500 : #D4C128;
  --yellow-oxfam-600 : #B5A000;
  --yellow-oxfam-700 : #8A7D00;

  --neutral-0:#FDFCF9;
  --neutral-50:#F5F5FA;
  --neutral-100:#EDEDF5;
  --neutral-200:#DCDCE8;
  --neutral-300:#C4C4D4;
  --neutral-400:#9E9EB4;
  --neutral-500:#7A7A90;
  --neutral-600:#5A5A72;
  --neutral-700:#3D3D55;
  --neutral-800:#2E2E44;
  --neutral-900:#242436;
  --neutral-950:#1A1A2E;


  /* Elements Colors */
  --background: #ffffff;
  --background-page: #FAF9F6;
  --background-surface:var(--neutral-0);
  --background-surface-alt:var(--neutral-50);
  
  --foreground: #171717;
  
  --color-border: var(--neutral-200); /* #DCDCE8 */
  --color-border-light:var(--neutral-100); /* #EDEDF5 */
  --color-text-primary:var(--neutral-950); /* #1A1A2E */
  --color-text-secondary:var(--neutral-700);/*#3D3D55*/
  --color-text-muted:var(--neutral-500); /* #7A7A90 */
  
  --color-brand-primary:var(--purple-oxfam-600);/* #513893 */
  --color-brand-hover:var(--purple-oxfam-700); /* #472D8C */
  --color-brand-light:var(--purple-oxfam-100); /* #E9ECF7 */

  --color-success:var(--green-oxfam-500); /* #61A534 */
  --color-success-light:var(--green-oxfam-50); /* #EEF7E5 */

  --color-warning:var(--orange-oxfam-500) ;/* #EA8215 */
  --color-warning-light:var(--orange-oxfam-50) ;/* #FEF5E8 */

  --color-info: var(--yellow-oxfam-500); /* #D4C128 */
  --color-info-light:var(--yellow-oxfam-50) ;/* #FEFCE8 */

  --color-dataviz-a:var(--purple-oxfam-600) ; /* #513893 */
  --color-dataviz-b:var(--purple-oxfam-400) ; /* #8B72BE */
  --color-dataviz-c:var(--green-oxfam-500) ; /* #61A534 */
  --color-dataviz-d:var(--yellow-oxfam-500); /* #D4C128 */
  --color-dataviz-e:var(--orange-oxfam-500) ; /* #EA8215 */
  --color-dataviz-f:var(--yellow-oxfam-400) ; /* #F2E100 */

}

@theme inline {
  --color-foreground: var(--foreground);
  --font-headline: var(--font-oxfam-headline);
  --font-tstar: var(--font-oxfam-tstar-pro);
  --font-lato: var(--font-lato);

  /* Colors */

  --color-purple-oxfam-50 : var(--purple-oxfam-50);
  --color-purple-oxfam-100 : var(--purple-oxfam-100);
  --color-purple-oxfam-200 : var(--purple-oxfam-200);
  --color-purple-oxfam-300 : var(--purple-oxfam-300);
  --color-purple-oxfam-400 : var(--purple-oxfam-400);
  --color-purple-oxfam-500 : var(--purple-oxfam-500);
  --color-purple-oxfam-600 : var(--purple-oxfam-600);
  --color-purple-oxfam-700 : var(--purple-oxfam-700);
  --color-purple-oxfam-800 : var(--purple-oxfam-800);
  --color-purple-oxfam-900 : var(--purple-oxfam-900);
  --color-purple-oxfam-950 : var(--purple-oxfam-950);

  --color-green-oxfam-50 : var(--green-oxfam-50);
  --color-green-oxfam-100 : var(--green-oxfam-100);
  --color-green-oxfam-400 : var(--green-oxfam-400);
  --color-green-oxfam-500 : var(--green-oxfam-500);
  --color-green-oxfam-600 : var(--green-oxfam-600);
  --color-green-oxfam-700 : var(--green-oxfam-700);

  --color-orange-oxfam-50 : var(--orange-oxfam-50);
  --color-orange-oxfam-100 : var(--orange-oxfam-100);
  --color-orange-oxfam-400 : var(--orange-oxfam-400);
  --color-orange-oxfam-500 : var(--orange-oxfam-500);
  --color-orange-oxfam-600 : var(--orange-oxfam-600);
  --color-orange-oxfam-700 : var(--orange-oxfam-700);

  --color-yellow-oxfam-50 : var(--yellow-oxfam-50);
  --color-yellow-oxfam-100 : var(--yellow-oxfam-100);
  --color-yellow-oxfam-300 : var(--yellow-oxfam-300);
  --color-yellow-oxfam-400 : var(--yellow-oxfam-400);
  --color-yellow-oxfam-500 : var(--yellow-oxfam-500);
  --color-yellow-oxfam-600 : var(--yellow-oxfam-600);
  --color-yellow-oxfam-700 : var(--yellow-oxfam-700);

  --color-neutral-0: var(--neutral-0);
  --color-neutral-50: var(--neutral-50);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-900: var(--neutral-900);
  --color-neutral-950: var(--neutral-950);

  --color-background: var(--background);
  --color-background-page: var(--background-page);
  --color-background-surface: var(--background-surface);
  --color-background-surface-alt: var(--background-surface-alt);

  --color-border: var(--color-border);
  --color-border-light: var(--color-border-light);

  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-text-muted: var(--color-text-muted);
  
  --color-brand-primary: var(--color-brand-primary);
  --color-brand-hover: var(--color-brand-hover);
  --color-brand-light: var(--color-brand-light);
  
  --color-success: var(--color-success);
  --color-success-light: var(--color-success-light);

  --color-warning: var(--color-warning);
  --color-warning-light: var(--color-warning-light);
  
  --color-info: var(--color-info);
  --color-info-light: var(--color-info-light);
  
  --color-dataviz-a: var(--color-dataviz-a);
  --color-dataviz-b: var(--color-dataviz-b);
  --color-dataviz-c: var(--color-dataviz-c);
  --color-dataviz-d: var(--color-dataviz-d);
  --color-dataviz-e: var(--color-dataviz-e);
  --color-dataviz-f: var(--color-dataviz-f);

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
