@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-border: #e5e5e5;

  --neutral:#202020;
  --neutral-050:#f8f9fb;
  --neutral-100:#e9e9eb;
  --neutral-200:#d8d8da;
  --neutral-300:#c3c3c5;
  --neutral-400:#a8a8aa;
  --neutral-500:#89898a;
  --neutral-600:#686869;
  --neutral-700:#49494a;
  --neutral-800:#313131;
  --neutral-900:#202020;
  
  --primary: #2c71f6;
  --primary-050: #f5f8ff;
  --primary-100: #d9e5fd;
  --primary-200: #bbd1fc;
  --primary-300: #95b7fa;
  --primary-400: #6496f8;
  --primary-500: #2c71f6;
  --primary-600: #2763d8;
  --primary-700: #2257be;
  --primary-800: #1c489e;  
  --primary-900: #16387b;

  --secondary: #ff7918;
  --secondary-050: #fdf8f7;
  --secondary-100: #fde6d7;
  --secondary-200: #fdd3b7;
  --secondary-300: #fdbb8d;
  --secondary-400: #fe9c57;
  --secondary-500: #ff7918;
  --secondary-600: #e06a15;
  --secondary-700: #c55d12;
  --secondary-800: #a44d0f;
  --secondary-900: #803c0c;

  --accent-warning:#ffbe18;
  --accent-warning-050: #fdfaf3;
  --accent-warning-100: #fdf2d7;
  --accent-warning-200: #fde9b7;
  --accent-warning-300: #fddd8d;
  --accent-warning-400: #fecf57;
  --accent-warning-500: #ffbe18;
  --accent-warning-600: #e0a715;
  --accent-warning-700: #c59312;
  --accent-warning-800: #a47a0f;
  --accent-warning-900: #805f0c;

  --accent-success:#17b530;
  --accent-success-050:#f1f9f4;
  --accent-success-100:#d5f0dc;
  --accent-success-200:#b5e6bf;
  --accent-success-300:#8bd999;
  --accent-success-400:#55c868;
  --accent-success-500:#17b530;
  --accent-success-600:#149f2a;
  --accent-success-700:#128c25;
  --accent-success-800:#0f741f;
  --accent-success-900:#0c5b18;

  --accent-error:#f73b3b;
  --accent-error-050:#fcf6f8;
  --accent-error-100:#fbdbde;
  --accent-error-200:#fabfc2;
  --accent-error-300:#f99c9e;
  --accent-error-400:#f86f70;
  --accent-error-500:#f73b3b;
  --accent-error-600:#d93434;
  --accent-error-700:#bf2e2e;
  --accent-error-800:#9f2626;
  --accent-error-900:#7c1e1e;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter-sans);

  /* Colors */
  --color-neutral : var(--neutral);
  --color-neutral-050 : var(--neutral-050);
  --color-neutral-100 : var(--neutral-100);
  --color-neutral-200 : var(--neutral-200);
  --color-neutral-300 : var(--neutral-300);
  --color-neutral-400 : var(--neutral-400);
  --color-neutral-500 : var(--neutral-500);
  --color-neutral-600 : var(--neutral-600);
  --color-neutral-700 : var(--neutral-700);
  --color-neutral-800 : var(--neutral-800);
  --color-neutral-900 : var(--neutral-900);

  --color-primary : var(--primary);
  --color-primary-050 : var(--primary-050);
  --color-primary-100 : var(--primary-100);
  --color-primary-200 : var(--primary-200);
  --color-primary-300 : var(--primary-300);
  --color-primary-400 : var(--primary-400);
  --color-primary-500 : var(--primary-500);
  --color-primary-600 : var(--primary-600);
  --color-primary-700 : var(--primary-700);
  --color-primary-800 : var(--primary-800);
  --color-primary-900 : var(--primary-900); 

  --color-secondary : var(--secondary);
  --color-secondary-050 : var(--secondary-050);
  --color-secondary-100 : var(--secondary-100);
  --color-secondary-200 : var(--secondary-200);
  --color-secondary-300 : var(--secondary-300);
  --color-secondary-400 : var(--secondary-400);
  --color-secondary-500 : var(--secondary-500);
  --color-secondary-600 : var(--secondary-600);
  --color-secondary-700 : var(--secondary-700);
  --color-secondary-800 : var(--secondary-800);
  --color-secondary-900 : var(--secondary-900);

  --color-accent-warning : var(--accent-warning);
  --color-accent-warning-050 : var(--accent-warning-050);
  --color-accent-warning-100 : var(--accent-warning-100);
  --color-accent-warning-200 : var(--accent-warning-200);
  --color-accent-warning-300 : var(--accent-warning-300);
  --color-accent-warning-400 : var(--accent-warning-400);
  --color-accent-warning-500 : var(--accent-warning-500);
  --color-accent-warning-600 : var(--accent-warning-600);
  --color-accent-warning-700 : var(--accent-warning-700);
  --color-accent-warning-800 : var(--accent-warning-800);
  --color-accent-warning-900 : var(--accent-warning-900);

  --color-accent-success : var(--accent-success);
  --color-accent-success-050 : var(--accent-success-050);
  --color-accent-success-100 : var(--accent-success-100);
  --color-accent-success-200 : var(--accent-success-200);
  --color-accent-success-300 : var(--accent-success-300);
  --color-accent-success-400 : var(--accent-success-400);
  --color-accent-success-500 : var(--accent-success-500);
  --color-accent-success-600 : var(--accent-success-600);
  --color-accent-success-700 : var(--accent-success-700);
  --color-accent-success-800 : var(--accent-success-800);
  --color-accent-success-900 : var(--accent-success-900);

  --color-accent-error : var(--accent-error);
  --color-accent-error-050 : var(--accent-error-050);
  --color-accent-error-100 : var(--accent-error-100);
  --color-accent-error-200 : var(--accent-error-200);
  --color-accent-error-300 : var(--accent-error-300);
  --color-accent-error-400 : var(--accent-error-400);
  --color-accent-error-500 : var(--accent-error-500);
  --color-accent-error-600 : var(--accent-error-600);
  --color-accent-error-700 : var(--accent-error-700);
  --color-accent-error-800 : var(--accent-error-800);
  --color-accent-error-900 : var(--accent-error-900);

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
