@layer utilities {
  /* ===== Background Pattern Utilities ===== */

  /* Purple background with SVG pattern overlay (20% opacity) */
  .bg-svg-purple {
    @apply relative bg-purple-oxfam-600 z-1;
  }
  .bg-svg-purple::after {
    @apply content-[""] absolute inset-0 pointer-events-none bg-auto -z-1;
    background-image: var(--hero-svg-url);
  }

  .bg-svg-tree-red {
    @apply relative bg-foundations-rouge-principal z-1;
  }
  .bg-svg-tree-red::after {
    @apply content-[""] absolute inset-0 pointer-events-none bg-[url(/images/bg-trees.svg)] bg-cover -z-1 opacity-10;
  }

  .bg-svg-tree-green {
    @apply relative bg-green-oxfam-600 z-1;
  }
  .bg-svg-tree-green::after {
    @apply content-[""] absolute inset-0 pointer-events-none bg-[url(/images/bg-trees.svg)] bg-cover -z-1 opacity-15;
  }

  .bg-chiffres-outremers {
    @apply relative z-1;
  }
  .bg-chiffres-outremers::after {
    @apply content-[""] absolute inset-0 pointer-events-none bg-[url(/images/bg-chiffres.svg)] bg-center bg-no-repeat -z-1;
  }

  .bg-evolution-red,
  .bg-evolution-green {
    @apply relative z-1;
  }
  .bg-evolution-red::after,
  .bg-evolution-green::after {
    @apply content-[""] absolute inset-0 pointer-events-none bg-center bg-no-repeat -z-1;
  }
  .bg-evolution-red::after {
    background-image: var(--evolution-red-svg-url);
  }
  .bg-evolution-green::after {
    background-image: var(--evolution-green-svg-url);
  }

  /* Inequal sign */
  .bg-svg-inequal {
    @apply relative z-1;
  }
  .bg-svg-inequal::after {
    @apply content-[""] absolute inset-0 pointer-events-none bg-center bg-no-repeat -z-1 opacity-25;
    background-image: var(--inequal-svg-url);
  }

  /* White Inequal sign */
  .bg-svg-inequal-white {
    @apply relative z-1;
  }
  .bg-svg-inequal-white::after {
    @apply content-[""] absolute inset-0 pointer-events-none bg-[url(/images/inequal-white.svg)] bg-center bg-no-repeat -z-1;
  }

  /* White Equal sign */
  .bg-svg-equal-white {
    @apply relative z-1;
  }
  .bg-svg-equal-white::after {
    @apply content-[""] absolute inset-0 pointer-events-none bg-[url(/images/equal-white.svg)] bg-center bg-no-repeat -z-1;
  }

  /* Button */
  .button {
    @apply h-10 px-3 flex flex-row gap-3 items-center justify-center text-foundations-violet-principal bg-white font-headline;
  }
  .button-primary {
    @apply bg-foundations-violet-principal text-white;
    & svg {
      @apply fill-white;
    }
  }

  .divider {
    @apply rounded bg-foundations-violet-clair h-1.5 w-15;
  }

  .divider-dashed {
    @apply hidden lg:block border-l-2 border-dashed border-foundations-violet-principal;
  }
  .divider-dashed-horizontal {
    @apply hidden lg:block border-t-2 border-dashed border-foundations-violet-principal;
  }
}
